---
apiVersion: v1 
kind: Service 
metadata: 
  name: nginx-service 
  labels: 
    tier: networking 
spec: 
  ports: 
  - port: 80 
    targetPort: 80 
    protocol: TCP 
  selector: 
    run: nginx
  type: LoadBalancer 